body {
    text-align: center;
    font-size: 125%; 
    font-family: $font-secondary;
    background-color: $color-primary;
}

h1, 
.navFilmFactory {
    font-family: $font-primary;
} 

h1 {
    font-size: 6rem;
} 

.navFilmFactory {
    font-size: 1.8rem; 
} 

ul {
    padding: 0; 
    width: 30%; 
    margin: 0 auto; 
    text-align: left;
} 

li {
    list-style-type: none;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    padding: 25px; 
} 

// a{
//     pointer-events: none;
// }

// english film  

span {
    font-weight: bold;
} 

// foreign films 
.movieContainer ul {
    width: 90%;
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
    gap: 2rem;  
    margin: 25px auto; 
    padding: 0;

    a {
        // outer glassmorphism
        background: rgba( 255, 255, 255, 0.3 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        transition: 0.5s;
    }
    
    a:focus,
    a:hover {
    background-color: #ECC79C; 
} 
}



a,
a:visited {
    color: black; 
} 



img {
    max-width: 100%; 
    object-fit: contain; 
} 

footer {
    padding: 5px; 
    margin-top: 25px; 
} 

nav {
    z-index: 99; 
}

