@import './setup'; 
@import './variables';
@import './styling';
@import './MovieMatch'; 
@import './Navigation.scss';
@import './EnglishMovieSearch.scss';
@import './MoviePair';

// move this later!! 
.scrollContainer ul {
    border: 2px solid black; 
    display: flex; 
    overflow-x: auto;
    overflow-y: hidden; 
} 