//============================================
//THIS is focusing on the search bar and the dropdowns, the classes are being assigned in the ""EnglishMovieSearch.js"" component
//============================================


header nav ul li.englishMovieSearchContainer{
    .dropdownListForm{
        margin:0;
        padding:0;
        width:100%;

        input{
            display: block; 
            width: 100%; 
            height:55px;
            margin: 0;
            padding: 0 10px; 
            transition: ease all 0.2s
        }
        input:hover,
        input:focus{
            filter: drop-shadow(0 0 5px white);
        }
    }

    ul.dropdownListUl{
        display:flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left:0px;
        width:100%;

        li{
            position: relative;
            padding-left: 0;
            // background-color: $color-tertiary;
            background-color: black; 
            padding: 0px; 
            margin:0;
            padding-left: 325px;

            p{
                color:white;
                padding:5px 0;
                margin:0;

            }
        }
        // THIS IS THE SPECIFIC STYLING FOR THE BANNER MOVIE
        li:hover{
            background-color: rgb(194, 194, 194);

            p {
                color: black; 
            } 
        } 


        .searchBarMovie{
            padding:0 0 0 25px;
            margin:0;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: flex-start;
            width:100%;
            height:150px;
            position: absolute;
            background-color: black;
            overflow: hidden;
            transition: ease all 0.15s;


            .searchBarCardInformation{
                color:white;
                padding-left:50px;
                display:flex;
                flex-direction: column;
                padding:0;

                p{
                    padding:5px 45px 5px 0;
                    font-size:1rem;
                    text-align: justify;
                    text-justify: auto;
                    span{
                        font-weight: 900;
                    }
                }
                h2{
                    margin-top:5px;
                    margin-bottom: 0;
                }
                .releaseDateClass{
                    font-size:1rem;
                    position: absolute;
                    top:0;
                    right:0;
                }
                
            }
            .searchBarImageContainer{
                height:100%;
                width:100%;
                max-width:100px;
                margin-right:10px;
                img{
                    height:100%;
                    padding:0;
                    margin:0;
                }
            }
        }
        .searchBarMovie:hover,
        .searchBarMovie:focus{
            filter: drop-shadow(0 0 5px black);
            background-color: black;
            cursor: default;
            .searchBarCardInformation{
                p,h2 
                {
                    // filter: drop-shadow(0 0 1px white);
                    color: $color-tertiary; 
                }
            }
        }    
    }       
}


@media (max-width: 940px) {
    
}

@media (max-width: 768px) {
    header{
        nav{
            ul.navigationContainer {
                li.englishMovieSearchContainer{
                    ul.dropdownListUl{
                        li{
                            padding-left: 100px;
                        }
                        .searchBarMovie{
                            padding:0 0 0 25px;
                            height:100%;
                            position: relative;
                            .searchBarCardInformation{
                
                                h2{
                                    font-size: 1.25rem;
                                }
                                
                                p{
                                    
                                    //RESTYLE THIS
                                }
                                .releaseDateClass{
                                    position: relative;
                                }
                            }
                            .searchBarImageContainer{
                                display:none;
                                img{
                                }
                            }
                        }
                        .searchBarMovie:hover,
                        .searchBarMovie:focus{
                        }
                    }
                }
            }   
        }
    }
}

@media (max-width: 480px) {

}