// ============================================
// THIS is focusing on the search bar and the dropdowns, the classes are being assigned in the ""EnglishMovieSearch.js"" component
// ============================================

header nav ul li.englishMovieSearchContainer {
    .dropdownListForm {
        width: 100%;
        margin: 0;
        padding: 0;
        input {
            width: 100%; 
            height: 55px;
            display: block; 
            margin: 0;
            padding: 0 10px; 
            border: none;
            border-radius: 10px;
        }
        input:hover,
        input:focus {
            filter: drop-shadow(0 0 5px white);
            transition: ease all 0.2s;
        }
    }

    ul.dropdownListUl {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0; 
        li {
            background-color: black; 
            position: relative;
            margin: 0;
            padding: 0; 
            padding-left: 325px;
            p {
                color: white;
                margin: 0;
                padding: 5px 0;
            }
        }
        
        // selected movie banner 
        li:hover {
            background-color: rgb(194, 194, 194);
            p {
                color: black; 
            } 
        } 
        
        .searchBarMovie {
            background-color: black;
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: flex-start;
            position: absolute;
            margin: 0;
            padding: 0 0 0 25px;
            overflow: hidden;
            transition: ease all 0.15s;
            .searchBarCardInformation {
                color: white;
                display: flex;
                flex-direction: column;
                padding: 0;
                // movie title 
                h4 {
                    margin-top: 5px;
                    margin-bottom: 0;
                }
                // movie release date 
                .releaseDateClass {
                    font-size: 1rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                // movie overview 
                p {
                    font-size: 1rem;
                    text-align: justify;
                    text-justify: auto;
                    padding: 5px 45px 5px 0;
                    span {
                        font-weight: 900;
                    }
                }
            }
            // movie poster 
            .searchBarImageContainer {
                max-width: 100px;
                margin-right: 10px;
                img {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        .searchBarMovie:hover,
        .searchBarMovie:focus {
            // filter: drop-shadow(0 0 5px black);
            background-color: black;
            cursor: default;
            .searchBarCardInformation{
                p,
                h4 
                {
                    color: $color-tertiary; 
                }
            }
        }    
    }       
}

@media (max-width: 940px) {
    
}

@media (max-width: 768px) {
    header {
        nav {
            ul.navigationContainer {
                li.englishMovieSearchContainer {
                    ul.dropdownListUl {
                        li{
                            padding-left: 100px;
                        }
                        .searchBarMovie {
                            height: 100%;
                            position: relative;
                            padding: 0 0 0 25px;
                            .searchBarCardInformation {
                                h4 {
                                    font-size: 1.25rem;
                                }
                                // RESTYLE THIS
                                // p {
                                // }
                                .releaseDateClass {
                                    position: relative;
                                }
                            }
                            .searchBarImageContainer {
                                display: none;
                                // img {
                                // }
                            }
                        }
                        
                    }
                }
            }   
        }
    }
}

@media (max-width: 480px) {
    
}