// =========================
// english/foreign pairing  
// =========================

// main container 
.matchedMovieContainer {
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    // individual card 📌📌📌 also stored in MoviePair scss sheet) 
    li {
        align-items: center;
        width: 35%;
        display: flex;
    }
    button {
        height: 15%;
    }
}

.movieMatchEnglishCard,
.movieMatchForeignCard {
    .imgContainer {
        width: 50%;
    }
}