.pairContainer{
    display:flex;
    flex-direction: row;
    .moviePairListEnglishCard,
    .moviePairListForeignCard{
        .moviePairListEnglishCardInfo,
        .moviePairListForeignCardInfo{
            width:50%;
            h4{

            }
            p{
                span{

                }
            }
            .languageClass{

            }
            .releaseDateClass{

            }
        }
    }
    .imgContainer{
        width:50%;
        img{
            width:100%;
            height:100%;
        }
    }
}